@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
	background: rgb(225, 65, 44);
	background: radial-gradient(
		circle,
		rgb(139, 50, 204) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
h1 {
	font-weight: 800;
	margin: 1rem 0 0;
}

.table th, .table td {
    padding: 15px;
    vertical-align: middle;
}

.current-day {
    background-color: #6c29fb; /* Bootstrap primary blue */
    color: #fff;
    border-radius: 50%;
}

.prev-next-month {
    color: #d2d1d1; /* Gray out days from other months */
}

.card-header {
    background-color: #f8f9fa; /* Light gray */
}


a.btn.btn-primary.btn-lg{
	background-color: #bda4f2;
	color: #000000;		
	border: 0.25rem solid #000000;
	border-radius: 1.5rem;		
	padding: 6.0rem 3.0rem;
	font-size: 1.7rem;
	cursor: pointer;
	margin-top: 20px;
}

a.btn.btn-primary.btn-lg:hover {
    background-color: #a8cbff; 
	border: 0.25rem solid #000000;
	border-radius: 1.5rem;
}

a.btn.btn-primary{
	background-color: #bda4f2;
	color: #000000;		
	border: 0.25rem solid #000000;
	border-radius: 1.5rem;		
	padding: 3.0rem 2.0rem;
	font-size: 1.7rem;
	cursor: pointer;
	margin-top: 20px;
	display: inline-grid;
}
.btn .btn-outline-primary
{
	background-color: #bda4f2;
	color: #000000;		
	border: 0.25rem solid #000000;
	border-radius: 1.5rem;		
	padding: 3.0rem 2.0rem;
	font-size: 1.7rem;
	cursor: pointer;
	margin-top: 20px;
	display: inline-grid;
}
a.btn.btn-primary:hover {
    background-color: #a8cbff; 
	border: 0.25rem solid #000000;
	border-radius: 1.5rem;
	display: inline-grid;
}

	.form-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 400vh;
  }
  
  .form-holder .form-content {
	  position: relative;
	  text-align: center;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-align-items: center;
	  align-items: center;
	  padding: 60px;
  }
  
  .form-content .form-items {
	  border: 3px solid #fff;
	  padding: 40px;
	  display: block;
	  width: 100%;
	  min-width: 540px;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  text-align: left;
	  -webkit-transition: all 0.4s ease;
	  transition: all 0.4s ease;
  }